{% extends "administration/docteur/maladieGeneraliste.html.twig" %}

{% block stock %}
    {{form_start(maladie) }}
                
                <div class="col-6 mx-auto">
                    <div class="p-3 mb-2 bg-info text-dark">
                        <fieldset class="border p-2">
                            <legend class="w-auto">Conclusion</legend>
                                <div class="col-md-12"> 
                                    {{form_row(maladie.maladie, {'attr':{'class': "form-control"}})}} 
                                </div>
                                <div class="col-md-12"> 
                                    {{form_row(maladie.categorie, {'attr':{'class': "form-control"}})}} 
                                </div>

                        </fieldset>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="Enregistrer">
                </div> 
    {{form_end(maladie)}}
       
{% endblock %}
                        