<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('bootswatch/bootstrap.min.css') }}">
        <title>Ordonance</title>
    </head>
    <body>
        <div class="text-center">
            <h2>Ordonance</h2>
        </div>
            {% for tou in tous %}
                <h3>{{ tou.nom }}</h3>
                    <p>Lorem Ipsum</p>
                <h3>{{ tou.prenom }}</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident.</p>
            {% endfor %}
        
            <a href="{{ path('imprimer')}}">Imprimer</a>
    </body>
</html>